html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #bada55;
}

main {

}

.board {

}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

li {
  list-style: none;
  width: 100%
}
