* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  font-family: Audiowide;
  background: #fff;
}

header, body, main, .board, li {
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 60px 0;
  height: 150px;
  margin: 0 auto;
}

.reset {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgb(250,250,250); 
  width: 35px;
  height: 35px;
  border-radius: 20%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

#time {
  font-size: .9em;
  text-align: center;
  width: 100%;
  grid-column-start: 0;
  grid-column-end: 2;
} 

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 25px 0;
  width: 85%;
  grid-gap: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

/* flippable cards inspired by Shay Howe: https://codepen.io/shayhowe/pen/Fvjnf */

.card-container {
  display: grid;
  list-style: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  align-content: center;
  justify-content: center;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  width: 100%;
}

.flipped {
  transform: rotateY(180deg);
}

.card .side {
  display: grid;
  align-content: center;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: #4949A5;
  width: 100%;
}

.card .back {
  background: #C40D0D;
  /* color: #2E5C74; */
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

footer  {
  padding: 20px 0 0 15px;
  width: 75%;
  margin: 0 auto;
}

#stars {
  text-align: center;
  padding: 25px 0 5px 0;
}

#guesses {
  text-align: left;
  margin: 0 0 20px 0;
}

/* modal */
#modal {
  position: fixed;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  background: rgba(155,155,155, .6);
  z-index: 2;
}

.hidden {
  display: none;
}

.success {
  /* display: none; */
  /* margin: 0 auto; */
  text-align: center;
  min-width: 200px;
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #fff;
  border-radius: 5px;
  top: 150px;
  width: 90%;
  height: 300px;
}

.success h1 {
  padding: 25px;
}

.end-time {
  padding: 15px;
}

.end-stars {
  margin-bottom: 55px;
}

.restart {
  padding: 15px;
  border-radius: 6px;
  font-size: 1.1em; 
}

