* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

header, body, main, .board, li {
  margin: 0 auto;
}

header, .board {
  width: 80%;
}

header {
  padding: 60px 0;
  height: 150px;
  margin: 0 auto 45px auto;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.card {
  display: grid;
  list-style: none;
  width: 55px;
  height: 55px;
  background: #bada55;
  align-content: center;
  justify-content: center;
}